@use "_mixin" as m;
$font-poppins: "Poppins", sans-serif;
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  font-family: $font-poppins;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1268px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  &-inner {
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include m.breakpoint(lg) {
    }
  }

  &-items {
    display: none;

    @include m.breakpoint(lg) {
      display: flex;
      justify-content: flex-end;
    }
  }
  &-items > * {
    margin-left: 37px;
  }
}
.button-mobile {
  display: inline-block;
  margin: 0 20px;
  @include m.breakpoint(md) {
    display: none;
  }
  &-bar1,
  &-bar2,
  &-bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
}
.main-menu {
  display: none;
  @include m.breakpoint(md) {
    display: block;
  }
  &__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    @include m.breakpoint(md) {
      display: flex;
    }
  }

  &__link {
    font-size: 18px;
    display: block;
    padding: 10px 35px;
    text-decoration: none;
    color: #000;
  }
  &__link:hover {
    background: #000;
    color: #fff;
  }
}

// BANNER
.banner {
  &__img {
    width: 100%;
    height: 316px;

    object-fit: cover;
  }
}
//Content
.content {
  background: #faf3ea;
  height: 120px;
  margin-bottom: 63px;
  @include m.breakpoint(lg) {
    background: #faf3ea;
    height: 96px;
    margin-bottom: 63px;
  }

  &-list {
    padding-top: 5px;
    text-align: center;
    @include m.breakpoint(lg) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 8px;
    }
  }
  &-item {
    display: flex;
    justify-content: center;
    margin: 3px 0;
    @include m.breakpoint(lg) {
      display: flex;
      align-items: center;
    }
  }
  &-item-filter {
    padding: 5px;
    &__label {
      font-size: 20px;
    }
    &__icon2 {
      margin-left: 16px;
    }
    &__icon3 {
      margin-left: 14px;
      margin-right: 20px;
    }
    &__results {
      border: none;
      border-left: 1px black solid;
      padding: 10px 32px;
    }
  }
  &-show {
    display: flex;
    align-items: center;
    &__label {
      @include m.breakpoint(lg) {
        font-size: 20px;
        margin-left: 29px;
      }
    }
    &_inputnumber {
      width: 24px;
      height: 45px;
      text-align: center;
      font-size: 17px;
      border: none;
      color: #9f9f9f;
      padding: 0 15px;
      margin-right: 10px;
      @include m.breakpoint(lg) {
        width: 34px;
        height: 55px;
        text-align: center;
        font-size: 20px;
        border: none;
        color: #9f9f9f;
        padding: 0 10px;
        margin-left: 16px;
      }
    }
    &_inputtext {
      width: 135px;
      height: 35px;
      text-align: justify;
      font-size: 17px;
      border: none;
      padding: 0px 0 0 33px;
      color: #9f9f9f;
      margin-left: 17px;
      margin-right: 24px;
      @include m.breakpoint(lg) {
        width: 155px;
        height: 55px;
        text-align: justify;
        font-size: 20px;
        border: none;
        padding: 0px 0 0 33px;
        color: #9f9f9f;
        margin-left: 17px;
        margin-right: 24px;
      }
    }
  }
}
//main
.main {
  margin-bottom: 36px;
}
.product {
  &-list {
    @include m.breakpoint(sm) {
      @include m.grid(2, 30px);
    }
    @include m.grid(1, 30px);
    @include m.breakpoint(lg) {
      @include m.grid(3, 20px);
    }
    @include m.breakpoint(xl) {
      @include m.grid(4, 30px);
    }
  }
  &-item {
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 13px;
  }
  &-item:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  &-image {
    position: relative;
    overflow: hidden;
  }
  &-sale {
    background: #e97171;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
  }
  &-new {
    background: #2ec1ac;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
  }
  &__thumbnail {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    width: 100%;
    @include m.breakpoint(md) {
      height: 302px;
    }
    object-fit: cover;
  }
  &-item:hover &__thumbnail {
    transform: scale(1.1);
  }
  &-info {
    padding: 15px;
    background: #f4f5f7;
    height: 110px;
  }
  &__name {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  &__link {
    text-decoration: none;
    color: #3a3a3a;
  }
  &__category {
    color: #898989;
    text-decoration: none;
    display: block;
    margin: 13px 0;
  }
  &-price {
    display: flex;
    justify-content: space-between;
  }
  &-price__new {
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 600;
  }
  &-item:hover &-actions {
    opacity: 1;
  }
  &-actions {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
    color: #fff;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  &-actions > * {
    margin-bottom: 15px;
    cursor: pointer;
  }
  &-actions > button {
    width: 200px;
    height: 30px;
  }
  &-action__link {
    text-decoration: none;
    color: #b88e2f;
  }
}
//Pagination
.pagination {
  margin-bottom: 63px;
  &-menu {
    margin-bottom: 30px;
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  &_item {
    text-align: center;
  }
  &-link_number {
    display: block;
    background: #f9f1e7;
    color: #000;
    padding: 15px;
    margin: 15px;
    text-align: center;
    width: 20px;
    font-size: 17px;
    height: 20px;
    border-radius: 14px;
    text-decoration: none;
    @include m.breakpoint(lg) {
      display: block;
      background: #f9f1e7;
      color: #000;
      padding: 20px;
      margin: 20px;
      text-align: center;
      width: 20px;
      font-size: 20px;
      height: 20px;
      border-radius: 14px;
      text-decoration: none;
    }
  }
  &-link_next {
    display: block;
    background: #f9f1e7;
    padding: 15px;
    color: #000;
    margin: 20px;
    font-size: 17px;
    text-align: center;
    width: 50px;
    height: 20px;
    border-radius: 14px;
    text-decoration: none;
    @include m.breakpoint(lg) {
      display: block;
      background: #f9f1e7;
      padding: 20px;
      color: #000;
      margin: 20px;
      font-size: 20px;
      text-align: center;
      width: 50px;
      height: 20px;
      border-radius: 14px;
      text-decoration: none;
    }
  }

  &-link_number:hover {
    background: #b88e2f;
    color: #ffff;
  }
  &-link_next:hover {
    background: #b88e2f;
    color: #ffff;
  }
}
//Servicse
.service-list {
  background: #faf3ea;
  padding: 10% 15px 10% 15px;
  @include m.grid(2, 30px);
  @include m.breakpoint(lg) {
    @include m.grid(4, 30px);
    padding: 107px 10% 93px 10%;
  }
  .service-item {
    display: block;
    text-align: center;
    @include m.breakpoint(sm) {
      display: grid;
      grid-template-columns: 60px auto;
      grid-gap: 10px;
      text-align: left;
    }
  }
  .service__name {
    font-size: 25px;
    color: #242424;
    margin: 0;
  }
  .service__description {
    color: #898989;
    margin-top: 10px;
  }
}

.footer {
  padding: 39px 0;
  &-list {
    @include m.grid(1, 30px);

    @include m.breakpoint(lg) {
      @include m.grid(3, 30px);
    }
  }
  &__address {
    color: #9f9f9f;
  }
  &-nav {
    @include m.grid(2, 30px);
  }
  &__title {
    font-size: 16px;
    color: #aeacac;
    font-weight: normal;
    margin-bottom: 59px;
  }
  &-menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &-menu-item {
    margin-bottom: 20px;
  }
  &-menu-link {
    text-decoration: none;
    color: #000;
  }
}
.newsletter {
  &__input {
    border: 1px solid transparent;
    border-bottom: 1px solid #000;
    padding: 5px 10px;
    color: #aeacac;
    &:focus {
      outline: none;
    }
  }
  &__btn {
    border: 1px solid transparent;
    border-bottom: 1px solid #000;
    padding: 5px 10px;
    background: none;
    cursor: pointer;
  }
}

.section-blog-heading {
  margin-bottom: 66px;
}
